.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    height: 50vh;
    width: 35vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    padding: 1.5rem;
    color: white;
    text-align: center;
}

.weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}

.city-bar {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.input-city {
    background-color: transparent;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    padding-left: 10px;
    border: none;
    color: #555555;
    height: 45px;
    width: 300px;
    font-size: 20px;
    outline: none;
}

.input-city::placeholder {
    color: #555555;
}

.city-bar button {
    height: 50px;
    width: 60px;
    border-radius: 1rem;
    background-color: rgba(24, 189, 255, 0.2);
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(0, 123, 255, 1);
    color: white;
}